<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multicampus.gangwonActivity.mapper.ReportMapper">

    <select id="alreadyReportedBoard" resultType="java.lang.Boolean" parameterType="map">
        SELECT EXISTS (SELECT 1 FROM reportedContent WHERE userNo = #{userNo} AND boardNo = #{boardNo});
    </select>


    <insert id="saveReportedBoard" parameterType="com.multicampus.gangwonActivity.entity.ReportedContent">
        insert into reportedContent (boardNo, commentNo, reportedTime, userNo)
        values (#{boardNo}, #{commentNo}, #{reportedTime}, #{userNo})
    </insert>

    <!--댓글 신고를 이미 했다-->
    <select id="alreadyReportedComment" resultType="java.lang.Boolean" parameterType="map">
        SELECT EXISTS (SELECT 1 FROM reportedContent WHERE userNo = #{userNo} AND commentNo = #{commentNo});
    </select>

    <!-- 댓글 신고-->
    <insert id="saveReportedComment" parameterType="com.multicampus.gangwonActivity.entity.ReportedContent">
        insert into reportedContent (boardNo, commentNo, reportedTime, userNo)
        values (#{boardNo}, #{commentNo}, #{reportedTime}, #{userNo})
    </insert>

    <!-- 신고 리스트 불러오기-->
    <select id="findAllReportedContent" parameterType="java.lang.Long" resultType="Board">
        SELECT * FROM reportedContent WHERE userNo = #{userNo}
    </select>


    <!--     제재 여부 판단 -->
    <select id="alreadySanctionedUser" parameterType="java.lang.Long" resultType="java.lang.Boolean">
        select exists (select 1 from reportedContent where userNo = #{userNo} and censoredTime is not null);
    </select>

    <!--    유저 제재-->
    <update id="sanctionUser">
        update reportedContent
        set censoredTime = #{localDateTime}
        where userNo = #{userNo}
    </update>

    <update id="desanctionUser">
        update reportedContent
        set censoredTime = null
        where userNo = #{userNo}
    </update>

</mapper>