<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multicampus.gangwonActivity.mapper.Tour4_0Mapper">

    <select id="findEachTwoByRating" resultType="com.multicampus.gangwonActivity.entity.Tour4_0Entity">
        (
            SELECT * FROM place WHERE addr1 != "" AND rate != 0 AND cat2 = "A0301" ORDER BY rate DESC LIMIT 2
        )
        UNION ALL
        (
            SELECT * FROM place WHERE addr1 != "" AND rate != 0 AND cat2 = "A0302" ORDER BY rate DESC LIMIT 2
        )
        UNION ALL
        (
            SELECT * FROM place WHERE addr1 != "" AND rate != 0 AND cat2 = "A0303" ORDER BY rate DESC LIMIT 2
        )
        UNION ALL
        (
            SELECT * FROM place WHERE addr1 != "" AND rate != 0 AND cat2 = "A0304" ORDER BY rate DESC LIMIT 2
        )
        UNION ALL
        (
            SELECT * FROM place WHERE addr1 != "" AND rate != 0 AND cat2 = "A0305" ORDER BY rate DESC LIMIT 2
        )
        ORDER BY rate DESC;

    </select>

    <select id="selectPlaceActivityWithDistance" resultType="map">
        SELECT *,
               ST_DISTANCE_SPHERE(POINT(#{mapx}, #{mapy}), POINT(mapx, mapy)) AS distance
        FROM place
        WHERE addr1 != '' AND rate != 0 AND cat1 = 'A03' AND (mapx != #{mapx} AND mapy != #{mapy})
        ORDER BY distance ASC, rate DESC LIMIT 10;
    </select>

    <select id="selectPlaceRestaurantWithDistance" resultType="map">
        SELECT *,
               ST_DISTANCE_SPHERE(POINT(#{mapx}, #{mapy}), POINT(mapx, mapy)) AS distance
        FROM place
        WHERE addr1 != '' AND rate != 0 AND cat1 = 'A05' AND cat3 != 'A05020900'
            ORDER BY distance ASC, rate DESC LIMIT 10;
    </select>

    <select id="selectPlaceCafeWithDistance" resultType="map">
        SELECT *,
               ST_DISTANCE_SPHERE(POINT(#{mapx}, #{mapy}), POINT(mapx, mapy)) AS distance
        FROM place
        WHERE addr1 != '' AND rate != 0 AND cat1 = 'A05' AND cat3 = 'A05020900'
        ORDER BY distance ASC, rate DESC LIMIT 10;
    </select>

    <select id="selectPlaceTourWithDistance" resultType="map">
        SELECT *,
               ST_DISTANCE_SPHERE(POINT(#{mapx}, #{mapy}), POINT(mapx, mapy)) AS distance
        FROM place
        WHERE addr1 != '' AND rate != 0 AND cat1 = 'A02'
        ORDER BY distance ASC, rate DESC LIMIT 10;
    </select>

    <select id="selectPlaceAccommodationWithDistance" resultType="map">
        SELECT *,
               ST_DISTANCE_SPHERE(POINT(#{mapx}, #{mapy}), POINT(mapx, mapy)) AS distance
        FROM place
        WHERE addr1 != '' AND rate != 0 AND cat1 = 'B02'
        ORDER BY distance ASC, rate DESC LIMIT 10;
    </select>
</mapper>